<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>types of cuisine</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="vue-app">
        <!-- jumbotron -->
        <div class="jumbotron jumbotron-fluid">
        </div>
        <container>
            <div class="row">
                <div class="col-12">
                    <h2 class="headline">vote for the best cuisine</h2>
                </div>
            </div>
        </container>
        <!-- main body -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="container">
                        <!-- table with votes -->
                        <table class="table">
                            <thead>
                                <h3>vote results</h3>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Cuisine type</th>
                                    <th scope="col">Votes</th>
                                </tr>
                            </thead>
                            <tbody v-for="(type, index) in sortedTypes">
                                <tr>
                                    <th scope="row">{{ index + 1 }}</th>
                                    <td>{{ type.name }}</td>
                                    <td>{{ type.votes }}                                
                                </tr>
                             </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="col-md-7 off-md-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-inline row">
                                        <h3 class="col-sm-6 col-md-12 col-lg-6">cuisine contestants </h3>
                                        <input v-model="query" class="col-sm-6 col-md-12 col-lg-6 form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 cuisine-card" v-for="cuisineType in filteredList">
                            
                            <cuisine-card v-bind:cuisine-type="cuisineType">
                                
                            </div>
                            <template v-if="filteredList.length === 0">
                                <p>"{{ query }}" not found</p>
                            </template>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 add-new">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" 
                            id="show-modal" @click="showModal = true">Add new cuisine</button>
                            <!-- use the modal component, pass in the prop -->
                            <modal  v-if="showModal" 
                            @close="showModal = false" 
                            v-bind:on-add-new-type="addNewType">
                            <h3 slot="header">add new cuisine</h3>
                            </modal> 
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <template id="cuisine-card">
        <div class="card">
            <img class="card-img-top" v-bind:src='cuisineType.imageUrl' alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ cuisineType.name }} </h4>
                <p class="card-text"> {{ cuisineType.desc }} </p>
                <button class="btn btn-outline-info my-2 my-sm-0" v-on:click="addPoint(cuisineType)">vote</button>
            </div>
        </div>
    </template>
    
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        
                        <div class="modal-header">
                            <slot name="header">
                                add new cuisine
                            </slot>
                        </div>
                        
                        <div class="modal-body">
                            <slot name="body">
                                <form>
                                    <input class="form-control mr-sm-2 add-new-input" placeholder="name" 
                                    v-model="newType.name">
                                    <input class="form-control mr-sm-2 add-new-input" placeholder="favorite dish" 
                                    v-model="newType.desc">
                                    <input class="form-control mr-sm-2 add-new-input" placeholder="image url" 
                                    v-model="newType.imageUrl">
                                </form>
                            </slot>
                        </div>
                        
                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="btn btn-outline-success my-2 my-sm-0"
                                @click="onAddNewType(newType)">
                                ADD
                            </button>
                            <button type="button" class="btn btn-secondary" @click="$emit('close')">
                                close
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>

<script type="text/javascript" src="app.js"></script>
</body>
</html>