*:focus {
    box-shadow: none !important;
    outline: none !important;
}

body {
    font-family: "Raleway", sans-serif
    
}

.row {
    margin: 20px auto;
}

/* jumbotron */
.jumbotron {
    background: url("https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: hidden;
    height: 300px;
}

.headline {
    font-family: "Open Sans Condensed", sans-serif;
    text-align: center;
    font-size: 60px;
    letter-spacing: 6px;
}

.cuisine-card, .add-new-input {
    margin: 10px auto;
}

.add-new {
    text-align: center;
}

.card-body {
    text-align: center;
}

.card-img-top {
    height: 300px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 500px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  }

  @media only screen and (min-width: 767px) {
    .card-img-top {
        height: 120px;
    }
}

